@import 'theme-colors';
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap');

.slide-fade-enter-active {
    transition: all .4s ease;
}

.slide-fade-leave-active {
    transition: all .4s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateY(10px);
    opacity: 0;
}

body {
    font-family: 'Azeret Mono', monospace;
    background-color: var(--app-background-color);
    color: var(--dynamic-title-color);
}

.header {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 60px 15px;
}

.container {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header__logo {
    display: block;
    //background-image: url(../images/logo.svg);
    text-decoration: none;
    color: var(--dynamic-title-color);
    background-repeat: no-repeat;
    background-size: 160px;
    font-size: 19px;
}

.header__link {
    color: var(--dynamic-subtitle-color);
    text-decoration: none;
}

.sun__button {
    width: 40px;
    height: 40px;
    align-items: center;
    padding: 10px 11px;
    background: #fbd38d;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.sun__button:hover {
    width: 40px;
    height: 40px;
    align-items: center;
    padding: 10px 11px;
    background: #daa74f;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 4px 20px 28px -4px rgba(255, 146, 0, 0.5);
}

.moon__button {
    width: 40px;
    height: 40px;
    align-items: center;
    padding: 10px 11px;
    background: #a681cd;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.moon__button:hover {
    width: 40px;
    height: 40px;
    align-items: center;
    padding: 10px 11px;
    background: #9370b8;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 4px 20px 28px -4px rgba(170, 0, 255, 0.5);

}

.sun_icon {
    width: 20px;
    height: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: var(--dynamic-plank-color);
    padding: 30px;
    border-radius: 20px;
}

.main__img {
    width: 60%;
    border: 3px solid var(--dynamic-title-color)FFF;
    border-radius: 1000px;
}

.main__image {
    flex-basis: calc(100% - 20px);
}

.main__text {
    flex-basis: 1000px;
}

.main__title {
    font-size: 36px;
    margin-bottom: 0px;
}

.main__desc {
    font-size: 15px;
    margin-top: 10px;
}

.article__paragraph {
    padding-top: 25px;
}

.article__title {
    display: inline;
    border-bottom: 6px solid #4d4d50;
    padding-bottom: 5px;
}

.article__desc {
    padding-top: 10px;
    list-style: none;
}

.article__desc__list__item {
    padding-top: 10px;
}

.item__icon {
    width: 20px;
    height: 20px;
    fill: var(--dynamic-link-color);
}

.article__desc__list__item__button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dynamic-link-color);
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.article__desc__list__item__button:hover {
    background-color: rgba(129, 230, 217, .2);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dynamic-link-color);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    color: #707072;
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 30px;
}